@font-face {
    font-family: "Museo Sans";
    font-style: normal;
    font-weight: normal;
    src: local("Tangerine"),
        url("../fonts/MuseoSans-300.ttf") format("truetype");
}

/**
 * Bases
 *
 * -------------------------------------------------------------------
 */

html,
body {
    background-color: $body-bg;
    font-family: "Museo Sans";
    scroll-behavior: smooth;
}

main {
    min-height: 80vh;
    background-color: $body-bg;
}

header,
main,
footer {
    flex-shrink: 0;
}

.color-primary {
    color: $blue-primary;
}
.color-primary-light {
    color: $blue-secondary;
}
.color-secondary {
    color: $grey-primary;
}

.no-decoration {
    text-decoration: none !important;
}

.logo-size {
    max-width: 90px;
    max-height: 90px;
}

/**
 * Header
 *
 * -------------------------------------------------------------------
 */

.header {
    background-color: $header-bg !important;
}

.btn-logout {
    color: $blue-primary;
    text-decoration: none !important;
    font-weight: 700;
}

.btn-normal-nav {
    background-color: $blue-secondary !important;
    color: $light-secondary !important;
    border-radius: 50px;
    padding: 6px 1.5rem;
}

.btn-normal-nav:hover {
    background-color: $blue-primary-dark !important;
    color: $light-secondary !important;
}

.btn-normal-secondary-nav {
    background-color: transparent !important;
    border-color: $blue-secondary;
    color: $blue-secondary !important;
    border-radius: 50px;
    padding: 6px 1.5rem;
    font-weight: 700;
}

.btn-normal-secondary-nav:hover {
    background-color: transparent !important;
    border-color: $blue-primary-dark;
    color: $blue-primary-dark !important;
}

.nav-link {
    margin-right: 0.5rem;
}

/**
 * Login/Register Form
 *
 * -------------------------------------------------------------------
 */

.card-body {
    background-color: $white;
    border-radius: 25px;
    -webkit-box-shadow: 4px 4px 14px 1px rgba(210, 210, 210, 0.911);
    box-shadow: 4px 4px 12px 1px rgba(210, 210, 210, 0.911);
}

.form-control {
    border-radius: 0 !important;
    border: 1px solid $blue-primary-light !important;
    font-weight: 500 !important;
}

.btn-normal-forms {
    background-color: $blue-secondary !important;
    color: $light-secondary !important;
    border-radius: 50px;
    padding: 0.5rem 4.2rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-normal-forms:hover {
    background-color: $blue-primary-dark !important;
    color: $light-secondary !important;
}

.input-icons i {
    position: absolute;
}

.icon-login {
    padding: 5px;
    min-width: 40px;
    display: inline-block;
    font-size: 1.2rem;
    color: $blue-primary-light;
    margin-top: 3px;
    margin-left: -35px;
    cursor: pointer;
}

.form-control {
    display: unset !important;
}

.theme--light.v-input,
.theme--light.v-input input,
.theme--light.v-input textarea {
    color: $blue-primary;
}

.v-text-field--outlined >>> fieldset {
    border-color: rgba(192, 0, 250, 0.986);
}
/**
 * Footer
 *
 * -------------------------------------------------------------------
 */

footer {
    min-height: 10vh;
    background-color: $footer-bg;
}

.logo-footer {
    width: 60% !important;
}

.footer-text {
    color: $grey-primary;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.footer-text:hover {
    color: $grey-primary-light;
}

.color-logo {
    filter: invert(54%) sepia(0) saturate(5748%) hue-rotate(177deg)
        brightness(126%) contrast(66%);
}

/**
 * CRUDS
 *
 * -------------------------------------------------------------------
 */

.btn-normal {
    background-color: $blue-secondary !important;
    color: $light-secondary !important;
    border-radius: 50px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.btn-normal:hover {
    background-color: $blue-primary-dark !important;
    color: $light-secondary !important;
}

.btn-normal-close {
    background-color: $alert-fail-dark !important;
    color: $light-secondary !important;
    border-radius: 50px;
}

.btn-normal-close:hover {
    background-color: $alert-fail-hover !important;
    color: $light-secondary !important;
}

.orange-text {
    color: $alert-fail;
}

/**
 * Form Querys
 *
 * -------------------------------------------------------------------
 */

@media screen and (max-width: 990px) {
    .col-md-5 {
        width: 66.66%;
    }
}
@media screen and (max-width: 550px) {
    .col-md-5 {
        width: 80.66%;
    }
}

/**
 * Sidebar
 *
 * -------------------------------------------------------------------
 */

.link {
    font-size: 12px;
    color: $white;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    background: $grey-primary;
    z-index: 100;
    transition: all 0.5s ease;
}

.category {
    background: $grey-primary;
}

.category ul a {
    text-decoration: none;
    margin: 5px;
    color: $white;
}

.category ul {
    padding-top: 3px;
    padding-bottom: 3px;
}

.category ul:hover {
    background: $grey-secondary-light;
    border-radius: 10px;
}

.sidebar .nav-links {
    height: 100%;
    padding-left: 0;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    margin: 5px;
}

.sidebar .nav-links li:hover {
    background: $grey-primary-light;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar.close .nav-links li .icon-link {
    display: block;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: $light-primary;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 12px;
    color: $light-primary;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 20px;
    margin-top: 0px;
    background: $grey-primary;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: $grey-secondary-light;
    font-size: 15px;
    padding: 10px 10px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
    color: $light-primary;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 13px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.close ~ .home-section {
    left: 0px;
    width: calc(100% - 0px);
}

.menu {
    // margin-top: 0.7rem;
    color: $grey-primary;
}

.menu:hover {
    cursor: pointer;
}

/**
 * Home Section
 *
 * -------------------------------------------------------------------
 */

.home-section {
    position: relative;
    background: $light-primary;
    left: 0px;
    width: 100%;
    transition: all 0.5s ease;
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: fff;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.close {
    opacity: 1 !important;
    text-shadow: none;
    font-weight: normal;
    line-height: 5px;
}

.material-icons.md-36 {
    font-size: 36px !important;
    height: 18px;
    width: 18px;
}

/**
 * Vuetify Inputs Bugs
 *
 * -------------------------------------------------------------------
 */

.v-text-field--outlined.v-input--dense .v-label {
    top: 8px !important;
    background-color: $white;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 1rem;
}

.v-text-field--outlined.v-input--dense .v-label--active {
    transform: translateY(-22px) scale(0.75);
}

.v-text-field--outlined .v-label--active {
    transform: translateY(-29 px) scale(0.75) !important;
    background-color: $white;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.v-textarea.v-text-field--enclosed.v-text-field--outlined:not(.v-input--dense)
    .v-label {
    top: 10px !important;
}

.v-text-field__details {
    display: none !important;
}

.v-messages {
    display: none !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $white inset !important;
}

.theme--light.v-text-field--outlined
    > .v-input__control
    > .v-input__slot
    fieldset {
    border-color: $blue-primary !important;
}
